/* montserrat-100 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 100;
  src: url(""); /* IE9 Compat Modes */
  src: local('Montserrat Thin'), local('Montserrat-Thin'),
       url("montserrat-v13-latin-ext-100.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("montserrat-v13-latin-ext-100.woff2") format('woff2'), /* Super Modern Browsers */
       url("montserrat-v13-latin-ext-100.woff") format('woff'), /* Modern Browsers */
       url("montserrat-v13-latin-ext-100.ttf") format('truetype'), /* Safari, Android, iOS */
       url("montserrat-v13-latin-ext-100.svg#Montserrat") format('svg'); /* Legacy iOS */
}
/* montserrat-200 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 200;
  src: url(""); /* IE9 Compat Modes */
  src: local('Montserrat ExtraLight'), local('Montserrat-ExtraLight'),
       url("montserrat-v13-latin-ext-200.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("montserrat-v13-latin-ext-200.woff2") format('woff2'), /* Super Modern Browsers */
       url("montserrat-v13-latin-ext-200.woff") format('woff'), /* Modern Browsers */
       url("montserrat-v13-latin-ext-200.ttf") format('truetype'), /* Safari, Android, iOS */
       url("montserrat-v13-latin-ext-200.svg#Montserrat") format('svg'); /* Legacy iOS */
}
/* montserrat-regular - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 400;
  src: url(""); /* IE9 Compat Modes */
  src: local('Montserrat Regular'), local('Montserrat-Regular'),
       url("montserrat-v13-latin-ext-regular.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("montserrat-v13-latin-ext-regular.woff2") format('woff2'), /* Super Modern Browsers */
       url("montserrat-v13-latin-ext-regular.woff") format('woff'), /* Modern Browsers */
       url("montserrat-v13-latin-ext-regular.ttf") format('truetype'), /* Safari, Android, iOS */
       url("montserrat-v13-latin-ext-regular.svg#Montserrat") format('svg'); /* Legacy iOS */
}
/* montserrat-500 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 500;
  src: url(""); /* IE9 Compat Modes */
  src: local('Montserrat Medium'), local('Montserrat-Medium'),
       url("montserrat-v13-latin-ext-500.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("montserrat-v13-latin-ext-500.woff2") format('woff2'), /* Super Modern Browsers */
       url("montserrat-v13-latin-ext-500.woff") format('woff'), /* Modern Browsers */
       url("montserrat-v13-latin-ext-500.ttf") format('truetype'), /* Safari, Android, iOS */
       url("montserrat-v13-latin-ext-500.svg#Montserrat") format('svg'); /* Legacy iOS */
}
/* montserrat-700 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 700;
  src: url(""); /* IE9 Compat Modes */
  src: local('Montserrat Bold'), local('Montserrat-Bold'),
       url("montserrat-v13-latin-ext-700.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("montserrat-v13-latin-ext-700.woff2") format('woff2'), /* Super Modern Browsers */
       url("montserrat-v13-latin-ext-700.woff") format('woff'), /* Modern Browsers */
       url("montserrat-v13-latin-ext-700.ttf") format('truetype'), /* Safari, Android, iOS */
       url("montserrat-v13-latin-ext-700.svg#Montserrat") format('svg'); /* Legacy iOS */
}
/* montserrat-900 - latin-ext */
@font-face {
  font-family: 'Montserrat';
  font-style: normal;
  font-weight: 900;
  src: url(""); /* IE9 Compat Modes */
  src: local('Montserrat Black'), local('Montserrat-Black'),
       url("montserrat-v13-latin-ext-900.eot#iefix") format('embedded-opentype'), /* IE6-IE8 */
       url("montserrat-v13-latin-ext-900.woff2") format('woff2'), /* Super Modern Browsers */
       url("montserrat-v13-latin-ext-900.woff") format('woff'), /* Modern Browsers */
       url("montserrat-v13-latin-ext-900.ttf") format('truetype'), /* Safari, Android, iOS */
       url("montserrat-v13-latin-ext-900.svg#Montserrat") format('svg'); /* Legacy iOS */
}
/* roboto-slab-300 - latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 300;
  src: url(""); /* IE9 Compat Modes */
  src: local('Roboto Slab Light'), local('RobotoSlab-Light'),
       url("") format('embedded-opentype'), /* IE6-IE8 */
       url("") format('woff2'), /* Super Modern Browsers */
       url("") format('woff'), /* Modern Browsers */
       url("") format('truetype'), /* Safari, Android, iOS */
       url("") format('svg'); /* Legacy iOS */
}
/* roboto-slab-regular - latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: url(""); /* IE9 Compat Modes */
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
       url("") format('embedded-opentype'), /* IE6-IE8 */
       url("") format('woff2'), /* Super Modern Browsers */
       url("") format('woff'), /* Modern Browsers */
       url("") format('truetype'), /* Safari, Android, iOS */
       url("") format('svg'); /* Legacy iOS */
}
/* roboto-slab-700 - latin-ext */
@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 700;
  src: url(""); /* IE9 Compat Modes */
  src: local('Roboto Slab Bold'), local('RobotoSlab-Bold'),
       url("") format('embedded-opentype'), /* IE6-IE8 */
       url("") format('woff2'), /* Super Modern Browsers */
       url("") format('woff'), /* Modern Browsers */
       url("") format('truetype'), /* Safari, Android, iOS */
       url("") format('svg'); /* Legacy iOS */
}